*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
}

.App{
  text-align: center;
  background-color: rgb(20, 20, 20);
  min-height: 100vh;
}

button:hover{
  cursor: pointer;
}

.inputContainer{
  padding: 8px
}

.inputContainer>input{
  padding: 5px;
  margin-right: 5px;
}
.inputContainer>button{
  padding: 5px;
  width: 80px;
  background-color: rgb(86, 86, 86);
  border-radius: 5px;
}

.inputContainer>button:hover{
  padding: 5px;
  width: 80px;
  background-color: rgb(39, 39, 39);
  color: #fff;
  border-radius: 10px;
  transition: .5s;

}

.tasksContainer{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4,1fr);
}

.taskCard{
  background-color: rgb(42, 42, 42);
  color: #fff;
  padding: 20px;
  min-height: 150px;
  border-radius: 20px;
}

.btnContainer{
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 5px;
  gap: 10px;
}
button{
  padding: 5px;
  border: 0px;
}
.actionBtn:hover{
  border-radius: 10px;
  transition: 0.5s;
}

#deleteBtn{
  background-color: rgb(244, 41, 41);
   padding: 5px
}
#deleteBtn:hover{
  background-color: red;
  color: #fff;
}

#toggleBtn{
  background-color: rgb(45, 45, 246);
  padding: "5px"
}

#toggleBtn:hover{
  background-color: rgb(20, 20, 241);
  color: #fff;
}