*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  
}

.App{
  text-align: center;
  background-color: black;
}

button:hover{
  cursor: pointer;
}

.inputContainer{
  padding: 8px
}

.inputContainer>input{
  padding: 5px;
  margin-right: 5px;
}
.inputContainer>button{
  padding: 5px;
  width: 80px;
  background-color: gray;
}

.inputContainer>button:hover{
  padding: 5px;
  width: 80px;
  background-color: rgb(77, 76, 76);
  color: #fff;
  transition: .5s;
}

.tasksContainer{
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4,1fr);
}

.taskCard{
  background-color: rgb(42, 42, 42);
  color: #fff;
  padding: 20px;
  min-height: 150px;
  border-radius: 20px;
}

.btnContainer{
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 5px;
  gap: 10px;
}