*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: rgb(255, 241, 224);
}

#heading{
  font-weight: 400;
  text-align: center;
  margin: 20px;
}

.inputContainer, .btnContainer{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.inputContainer>input, .inputContainer>select{
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(71, 71, 71);
}

.btnContainer{
  margin: 10px;
}

.btnContainer>button{
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid gray;
}

.btnContainer>button:hover{
  cursor: pointer;
}